<%= turbo_stream_from "room_#{@room.id}_presentations" %>

<div class="d-flex gap-4 h-100">
  <div class="w-50"
    style="background-image: url('<%= asset_path("Fundo_1.png") %>'); background-size: cover; background-position: center;"
  >
  </div>
  <div class="w-50 pb-5 px-4 d-flex flex-column <%= @next_presentation.nil? ? '' : 'justify-content-between' %>">
    <%= image_tag "RM25_Horizontal_Preto.png", width: '240px', class: 'align-self-end justify-self-start' %>
    <%= render 'presentations/presentation', room: @room, presentation: @presentation, next_presentation: @next_presentation %>

  </div>
</div>
