<!DOCTYPE html>
<html>
  <head>
    <title>RiffMidiaIndoor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='' style='height: 100vh; overflow: hidden;'>
    <%= yield %>

    <script>
      fetch("/js-alive", {method: "POST"}).catch(() => {});
    </script>
  </body>
</html>
